<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>

    <!--Common-->
    <logger name="common_logger">
      <level value="ALL" />
      <appender-ref ref="CommonAppender" />
    </logger>
    
    <!--CAS-->
    <logger name="cas_logger">
      <level value="ALL" />
      <appender-ref ref="CASAppender" />
    </logger>
    
    <!--PG-->
    <logger name="pg_logger">
      <level value="ALL" />
      <appender-ref ref="PGAppender" />
    </logger>

    <!--System Manage-->
    <logger name="systemManage_Logger">
      <level value="ALL" />
      <appender-ref ref="SystemManageAppender" />
    </logger>

    <!--WebApi-->
    <logger name="webapi_logger">
      <level value="ALL" />
      <appender-ref ref="WebApiAppender" />
    </logger>

    <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/Common.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>
    
    <appender name="CASAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/CAS.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>

    <appender name="PGAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/PG.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>

    <appender name="SystemManageAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/SystemManage.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>

    <appender name="WebApiAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/WebApi.log"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="10MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level [Line:%L] - %message%newline"/>
      </layout>
    </appender>

  </log4net>

</configuration>